* {
    background-color: #151515;
}

.title {
    color: #EEEEEE;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
}
.q {
    color: #7E8EF1;
    text-align: center;
    font-size: 40px;
}

ul {
    
}
